.so-widget-sow-icon-default-22296202ab20-5 .sow-icon {
  text-align: center;
}
.so-widget-sow-icon-default-22296202ab20-5 .sow-icon span,
.so-widget-sow-icon-default-22296202ab20-5 .sow-icon a span {
  display: inline-block;
  color: #ffffff !important;
  font-size: 32px !important;
}