.so-widget-sow-icon-default-c61ec6add0ef-5 .sow-icon {
  text-align: center;
}
.so-widget-sow-icon-default-c61ec6add0ef-5 .sow-icon span,
.so-widget-sow-icon-default-c61ec6add0ef-5 .sow-icon a span {
  display: inline-block;
  color: #2b5c84 !important;
  font-size: 35px !important;
}