.so-widget-sow-icon-default-ddbeff0b90ad-10 .sow-icon {
  text-align: center;
}
.so-widget-sow-icon-default-ddbeff0b90ad-10 .sow-icon span,
.so-widget-sow-icon-default-ddbeff0b90ad-10 .sow-icon a span {
  display: inline-block;
  color: #295d84 !important;
  font-size: 30px !important;
}